/* Variables */
:root {
  --raspberry-red: #EE005A;
  --deep-space-blue: #012641;
  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: var(--deep-space-blue);
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  color: var(--raspberry-red);
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

h1:hover {
  color: white;
  cursor: default;
}

.links ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.links ul li a {
  color: var(--raspberry-red);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.links ul li a:hover {
  color: white;
}





.contacts img {
  width: 40px;
  height: 40px;
}